html{
    font-size: 62.5%;
}
/* :root{
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ul__google__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google__buttons{
    margin: 2rem 1rem 3rem 1rem;
    width: 15rem;
    height: 4rem;
    outline: none;
    border: none;
    background-color: rgba(253, 244, 244, 0.87);
    border-radius: 0.5rem;
}
.google__buttons:hover{
 border: 0.2rem solid rgba(223, 220, 220, 0.87);
}
span{
    font-size: 1.4rem;
}
input{
    margin-top: 2rem;
    outline: none;
    border-radius: 2rem;
    width: 48rem;
    height: 4rem;
    border: 0.1rem solid #dfd5d5;
    padding-left: 1rem;
}
input:hover{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.navbar{
    height: 15vh;
}
nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.google{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.fuck__on{
    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
}
nav li{
    padding: 1.5rem 1rem 0 1rem ;
}
nav ul{
    padding-right: 1rem;
}

.menu__icon_img{
    width:1.5rem;
    height:1.5rem;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
.blue #blue{
    color: blue;
    font-size: 1.4rem;
    margin: 0 0.2rem 0 0.2rem;
}

a:link{
    color: rgba(0,0,0,0.87);
}
a:hover{
    color: rgba(0,0,0,0.60);
    text-decoration: underline;
}
a:visited{
    color: red;
}
a:active{
    text-decoration: underline;
    color: rgba(0,0,0,0.60);
}

.k{
    border-radius: 50%;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 15vh;
}
footer .footer__ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
footer .footer__ul li a{
    margin: 1rem;
}